In [69]:
# Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression #class(LinearRegression) inside module(linear_model) inside library(sklearn)
from sklearn import metrics

In [70]:
# Set up the data
data = "../data/"
train = "datasets/train.csv"
test = "datasets/test.csv"

In [71]:
#Read in the data
train_df = pd.read_csv(data+train)
test_df = pd.read_csv(data+test)

In [72]:
# Check that everything is copacetic
train_df.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
1,544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,4,2009,WD,220000
2,153,535304180,20,RL,68.0,7922,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,1,2010,WD,109000
3,318,916386060,60,RL,73.0,9802,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,4,2010,WD,174000
4,255,906425045,50,RL,82.0,14235,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,138500

In [73]:
test_df.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,4,2006,WD
1,2718,905108090,90,RL,NaN,9662,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,8,2006,WD
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,9,2006,New
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,7,2007,WD
4,625,535105100,20,RL,NaN,9500,Pave,NaN,IR1,Lvl,...,0,185,0,NaN,NaN,NaN,0,7,2009,WD


**Second Prediction: Linear Regression**

The "second_submission" includes Linear Regreesion Modeling and reflects the results unclean data.
- Features included were randomly chosen to minimize complications in Kaggle submission.
- Features were choen as a first level improvement to the Null "baseline" submission.

In [107]:
# Creating our features list; note that ID is not among them.
# Pandas and Numpy will preserve the order of predictions on its own.
features = ['Year Remod/Add', 'Year Built', '1st Flr SF', 'Gr Liv Area', 'Overall Qual']

In [108]:
# Setting up our features and our target from the train_df to feed into a linear regression.
X = train_df[features]
y_actualdf = train_df[['SalePrice']]
y_actual   = train_df['SalePrice']

In [109]:
# Check that we have an equal number of observations in our X and y.
X.shape[0] == y_actualdf.shape[0]
# Verify dimensions, n = No. of rows
print('X:        ', X.shape) # X.shape equals (n,p)
print('y_actual: ', y_actual.shape) # y.shape equals (n, null)

X:         (2051, 5)
y_actual:  (2051,)

In [110]:
# Check that everything is copacetic.
X.head()

   Year Remod/Add  Year Built  1st Flr SF  Gr Liv Area  Overall Qual
0            2005        1976         725         1479             6
1            1997        1996         913         2122             7
2            2007        1953        1057         1057             5
3            2007        2006         744         1444             5
4            1993        1900         831         1445             6

In [111]:
# Instantiate linear regression model
lm = LinearRegression()

In [112]:
# Fit the linear regression to chosen features.
lm.fit(X, y_actual)

LinearRegression()

In [113]:
# The `lm` object contains our model's coefficients
lm.coef_

array([  318.60667037,   343.81461712,    38.69940317,    46.34025652,
       22987.26988116])

In [114]:
# And the y-intercept.
lm.intercept_

-1383654.6188068874

In [115]:
# Create predictions using the `lm` object.
y_pred = lm.predict(X)

In [116]:
# Evaluate the model locally with training values of Sale Price
metrics.mean_squared_error(y_actual,y_pred)**(1/2)

37495.67578118966

**NOTE:** RMSE(Kaggle) = 36743.34764

### Start Kaggle specific Notebook here

In [117]:
# We make our predictions on the test df, which does not have a SalePrice column.
# The SalePrice columns is what we want to create with our model.
X_score = test_df[features]
y_score = lm.predict(X_score)

In [118]:
# We have a list of predicted house prices.
# numpy and pandas preserve the order of these predictions from the df.
y_score

array([156720.99904619, 208161.62656929, 201094.80052052, 113880.61065518,
       173147.27342328,  86322.67389328, 113556.80983445, 152542.1844904 ,
       215107.66010318, 172641.61058374, 176643.04970777, 139217.87188312,
       165569.7283018 , 276450.04316363, 175728.17955893, 157205.06104191,
       143307.24567406, 118225.32376924, 213929.26865217, 196228.87717425,
       135582.88376521, 103764.14133147, 212302.3628291 , 142595.69931407,
       210314.0998484 , 111050.77549382, 137975.41430739, 135238.1904483 ,
       144233.78912869,  23462.73641948,  86890.84636704,  80216.72965353,
       235218.40069262, 147018.03002385, 229640.43887853, 197485.31086568,
       120433.75340481,  83166.47860082, 116076.68220308, 217238.88857547,
       165477.8757627 , 225486.96265981, 155512.74801872, 155186.44548987,
       221131.89779094, 118534.87903411, 221447.0223559 , 115002.8321101 ,
       120593.58388785, 120055.96401188, 109253.44468387, 237778.63193165,
       267062.11462648, 127313.13557289,  98795.54350467, 157297.04651549,
       188568.10619194, 150561.08087936, 186990.62715659, 226913.2316914 ,
       294350.82997788, 109634.01472997, 141053.51810695, 192977.85206673,
       179442.15292487, 296867.01210063,  86890.84636704, 193463.92547659,
        54158.89384997, 153874.8920195 ,  56244.86630447, 304859.2106418 ,
       185276.59306936, 195705.43935895, 126205.73090867, 206727.50630422,
       194888.59821965, 163910.38919221, 103970.01263092, 302412.27116439,
       227496.55139625, 123418.18401452, 123166.87405928,  98149.87492388,
       179185.4969526 , 304355.07727194, 112071.2514101 , 172153.70890612,
       257662.80984331, 169776.42381195, 128332.5768214 ,  95372.43035072,
       147771.13652076, 221884.36853459, 121725.0529026 , 149544.7305904 ,
       155302.61539407, 261212.2740979 , 189491.01334883, 234251.58017904,
       263784.41589876, 202848.45093559, 124335.77753573, 383095.87827377,
       156416.79674487, 109903.02691013, 171323.44215951, 201973.86408916,
       218625.59536738, 167069.78975512, 183835.49397323, 253190.3311606 ,
       133764.51324931, 157044.04534278, 227823.25433546, 407001.87281921,
       144374.74606653, 120967.30493543, 299640.97006257, 187952.15167357,
       342885.57493997, 263694.27983774, 297143.46824197, 175971.81479396,
       127209.01853397, 314125.58556736, 111050.77549382, 127596.63555637,
       105878.2309125 , 283139.62010435, 127391.84585385, 190185.61024921,
       129520.3640457 , 165895.46796361, 179525.65971718, 223285.21891194,
       223155.08846159, 199801.31804855, 193463.92547659, 114255.50599105,
       188836.17622715, 129331.90117964, 142530.55371851, 172663.81203613,
       124312.50138034, 152306.41359819, 156443.54753123, 155045.41170294,
        46457.65660662, 237481.84873192, 217735.25842745, 162224.46366401,
       148589.77070247, 110800.09680523,  99257.44516686, 119688.89397401,
        84997.83131831, 143606.06171576, 229996.63505998, 271763.01402637,
       204407.13017749, 121294.73235521, 131703.74716824, 403093.65400047,
       277190.49990441, 262640.0523226 , 176151.62687991, 203443.78340355,
       250297.70010319, 227630.83873556, 469134.21906143, 136657.64760982,
       163614.16576318, 182208.7751461 , 228603.86890054, 182335.95051255,
        71451.20752917, 206630.91269487,  84997.83131831, 135246.71140679,
       128270.89727097, 215054.33621464, 253203.11638663, 203773.19532872,
       176692.16255927, 127516.77640679, 204278.47011199, 217597.29671415,
       114291.16314299,  58630.98275698, 195508.82472385, 118601.40921619,
       122182.01166884, 105088.98390644, 182131.46859109, 142094.47676501,
       253841.24164689, 125499.56415691, 151245.04626481, 124348.17926692,
       302113.9257446 , 217693.93115254, 134691.45125338, 185914.36853006,
       145328.35014366,  88457.2173934 , 163772.86775855, 149203.34156721,
       245564.97671495, 207921.50675599, 194843.29531554, 185316.48040222,
       105809.50856833, 252054.84740037, 280136.32061609, 209954.79688787,
       235861.52007921, 172711.0969963 ,  66588.35309706, 131424.97235806,
       196315.15097621, 155665.03033534, 175870.60184461, 181184.87383273,
       115002.49898444,  84632.35478112, 276995.75946725, 235690.87411532,
       137882.94085718, 257808.46598909, 166815.87864606,  68164.22524521,
       114326.30963451,  68638.53639516, 290549.31651546, 172277.06754592,
        86181.34854733, 350592.25447247, 307044.99469243, 221365.59962974,
       259744.25122521, 177703.7578946 , 285158.81824222, 257000.78141837,
       325301.39532054, 270123.54237531, 124970.01864962,  82665.63995353,
       201494.33618368, 311649.45806888, 267568.69660626, 178525.09615484,
       259576.04537124, 236735.0687149 , 191238.51948486,  52172.95267794,
        86945.9665756 , 349636.81505179, 226610.50101614, 256883.71261504,
       197212.39890293, 148215.12930534, 143674.63206402, 141011.16264143,
       234053.40210159, 177383.41972899, 139382.30304201, 218647.45123617,
       170067.94968441, 173904.8037479 , 202457.82225642, 209213.75300337,
       178936.87880054, 337677.63475955,  86738.66303769, 135595.88545463,
       153212.47073201, 163327.82992264, 112124.80455208, 121577.66247722,
       246725.18590434, 137417.92238307, 133309.74919232,  97264.58159998,
       132968.39332148, 221740.50787746, 193748.0512228 , 125655.84560861,
       105097.68269845, 124263.13960723, 105805.09316403, 190290.10260236,
        88972.35904323, 108951.56057256, 159056.56667776, 153874.8920195 ,
       209710.33326536, 236949.76132595, 249530.48903079, 142685.75881671,
       173236.19058301, 313906.08092209, 124227.48245529, 149304.88272479,
        76711.74633745, 114514.93043247, 178357.59238683, 216114.69269735,
       139516.72520945, 120020.17203181, 183880.65901078, 239531.60116744,
       240265.9560493 , 278731.60789695, 167437.69852052, 312531.20635537,
       319330.72315221, 266135.55895084, 246494.85192423, 116637.28549481,
        67252.84034186, 106349.76745176, 132131.02258216, 262667.74803383,
       113601.96528452, 144681.45853578, 152402.07259026, 202844.84980736,
       214727.94605417, 149691.53211363, 186986.61647836, 185278.47435872,
       147201.95062671, 216861.66918216,  87546.26093616, 177036.64695438,
        81071.65700922, 107477.82706813, 137315.79362845, 178848.94130074,
       188831.39899574, 107303.22963829, 121511.45353221, 186845.36449617,
       277468.98558972, 248454.82735782, 190534.39588827, 109457.35824022,
       204609.24906937, 124746.60099438, 192631.26731282, 162432.70169793,
       143012.21077653, 270226.47802504, 117469.19704724, 304435.96079857,
       149474.53789478, 223128.17706247, 260742.30756486, 138749.82903975,
       153095.13255186, 144046.37825965,  96434.90011268, 179333.04710626,
       234662.0042846 , 267568.69660626, 165297.06296694, 180948.9354685 ,
       238901.1460292 ,  95172.26560987, 224762.98328839, 124993.42432113,
       160878.25320304, 339971.89834736, 134230.46097487, 280409.68521944,
       174643.89487959, 268029.68688477, 218796.513849  , 134732.1679863 ,
       152599.90252811, 180068.16550022, 307124.46011528, 291973.8185806 ,
       222966.67688057, 196309.41254855, 192393.16898829, 199292.79051033,
       131979.41235851, 137834.17241545, 107834.83502046, 253514.2469709 ,
       173022.98758792, 105715.95836978, 212319.25970089,  55655.74893806,
       196507.4572354 , 178181.36053677, 117164.75041054,  47896.93794071,
       245536.85801037, 239728.67186393, 107001.09240828, 275073.73862737,
       157782.22122464, 118288.02714842, 123324.92883577, 225258.57675752,
       257574.03862338, 104623.41850933, 107656.56992096, 143355.14388081,
       275780.98011885, 185615.31666166, 266157.02344523, 294501.06779045,
       109077.64828418, 262524.46933972,  87401.08432518, 194666.78345617,
       267350.51881186, 116117.22826703, 229631.453125  , 132991.80538653,
       234125.98887371, 348802.5591382 , 216758.73353244, 216454.63696207,
       163604.72074185, 291244.38003377, 112312.96703905, 138952.31481884,
       115485.99621244, 211354.59446112,  99782.49035193, 283635.18668962,
       222063.81289729, 150931.07493229, 174644.26991988, 176289.30054134,
       220706.56521293, 137502.54994788, 140316.76446473, 166603.79474576,
       159576.85468108, 171341.4765579 ,  22032.18011394,  56475.94555067,
       264412.97657698, 119971.76226408, 205488.18221929, 274460.5650195 ,
       223863.10145033, 184203.70834312, 206952.72561655, 247948.98223191,
       220931.38592221, 112697.7458894 , 244402.68289306, 123665.97957177,
       148348.97019114, 128937.11892195, 144597.52356172, 461990.62241749,
       102777.97413763, 228626.09416586, 215162.82951837, 252824.79105345,
       132462.65893953, 113593.08470356, 120038.20284997, 242983.56918102,
       173067.96132652, 111207.39911364, 243155.16486451, 259409.3295665 ,
       114810.28168209, 140845.99569745,  98748.93828965, 194654.48071225,
        76511.43276626, 242156.90240246,  89826.65255139, 198156.86615301,
       324844.75862361, 152531.88379824, 153874.8920195 , 166196.49243734,
       191220.75832295, 130606.37602646, 171087.95949705, 233462.78327411,
       196809.42774956, 223904.84601124, 305141.54890752, 224994.60928518,
       122379.04331634, 126059.32746923, 171987.7733962 , 107855.4265485 ,
       179907.57972055, 282538.31787624, 200226.516347  , 176437.17840833,
       240069.31496506, 123627.68331863, 286110.33627331, 115258.57012093,
       125155.14281656, 261946.15611466, 100966.77797807, 131098.42438632,
       124065.87147204, 124345.51253717, -12722.68542114, 186314.96497567,
       142148.37954124, 211979.8729968 , 269000.13080931, 281795.25383504,
       114634.06400848, 130799.75452578, 135397.53495984, 117603.26958042,
       227818.81404498, 350982.99578746, 199938.77690386, 174445.55423339,
       129224.32433412,   1542.04153661, 157293.88993476, 191326.98114835,
       155687.36661585, 212641.52234962, 176485.40834695, 135424.30824547,
        84997.83131831, 232185.28188202, 139060.31004953, 193472.02174543,
       149363.0801092 ,  86738.66303769,  66839.38267024, 156377.61844269,
       232130.39832174, 286066.07546231, 240828.45939723,  99333.06361851,
       124993.42432113, 264255.80585671, 109059.12005218, 270743.76999062,
       104333.51330738, 177675.09612667, 228834.84967078,  87560.26299417,
       133796.73172971, 166062.50179728, 115889.84128216, 168164.62186391,
       117701.76493967, 188504.42736254, 177847.06064299, 131294.65479051,
       154783.28204885, 120924.00752517, 153508.17161587, 231189.39837723,
       119393.19309015, 151929.04022576, 169755.18690713, 120613.96764236,
        80472.50479162, 135537.89202218, 184802.14709129, 131183.52769995,
       177395.27012744, 153874.8920195 , 210973.71509588, 102518.9717772 ,
       128450.0918562 , 154429.24954125, 274023.19125458, 100286.96412079,
       172108.90151697, 158524.89224709, 139343.30909372, 102547.02433095,
       286344.56540771, 230302.86016602, 118003.70162635, 104605.65734742,
       127575.24604466, 137737.60487405, 308350.80733101, 230389.93516224,
       130629.21774236, 120283.82478126, 101007.08024132, 306798.5414882 ,
       134830.82962345, 225949.78290953, 114926.80785949, 166725.55682257,
       233632.86259349,  81847.9818815 , 107953.42093679,  88269.37691211,
       188141.43458408, 109834.81449801, 108473.48697425, 317162.82010105,
       221016.4255819 , 127924.28526438, 138166.83164845,  17259.75466582,
       220688.93833058, 269203.37132217, 101293.76571611, 198318.7502133 ,
       211504.65508406, 172749.33615819, 165393.02506685, 110612.12149581,
       147124.94535279, 212668.72853285, 203694.17251183, 120194.69164167,
       342524.42877319, 178922.14366961, 179595.59542352, 227221.41845521,
       111050.77549382,  38125.6411905 , 154195.10754809, 178434.79211011,
       199132.39341354, 186010.7331451 , 135756.94936493, 132146.9986919 ,
       290793.18947645, 117334.82972992, 207261.90231476, 263320.36960012,
       150589.42732493,  45931.02774911, 276613.00785528, 193989.01188753,
       173586.19707753, 190588.95146661, 129549.05420757, 111146.86970554,
       102497.99527273, 148208.31685361,  37913.44179433, 137823.04668509,
       226527.12492614, 159939.20495321, 244019.4133071 , 171464.37621952,
       152299.23592781, 195707.6227377 , 205883.10211344, 253958.19347901,
       350984.83360572, 243282.69902145, 228952.93730294, 165238.93830103,
       145185.83766557, 298133.72641502, 246716.08399218, 297569.9867647 ,
       220612.4354288 , 142657.50500069, 133313.40517068, 133617.7236182 ,
       165085.40849077,  86985.09518077, 143880.90915269, 103907.44407986,
       310477.69064756, 225244.00144035, 192141.2690032 , 262913.0672917 ,
       195691.77090777, 172121.52504159, 219193.06302846, 321464.8109133 ,
       120217.02792218, 198986.10787401,  49679.48220902, 111158.15143402,
       235521.6310967 , 121736.20817081, 216387.57283833, 168604.51430777,
       219208.04603789, 297739.03169431, 113038.03935628, 268919.5314401 ,
       153874.8920195 , 132714.03689662, 191044.15842026, 106485.41044155,
       289714.0957716 , 260335.04607989, 153525.58314354, 133483.21483382,
        88792.93574168, 295782.83368693, 236471.30736496, 103949.53288641,
       127073.88866748, 128792.71267943, 126020.49701152, 206375.25548772,
       259771.78514488, 243369.52000493, 203616.36574565, 243421.20222784,
       226865.48179835, 260452.24827704, 124652.68075374, 122292.1475104 ,
       271252.81567941, 175824.35443471, 206854.11554398, 110668.16240227,
       265329.96974309,  65149.71896299, 242790.01963477, 199382.14098901,
       269611.46190675, 149255.704169  , 180456.45867227, 146044.72420535,
       126076.28771994, 153652.49858072, 158168.61117902, 131522.86237047,
       230472.9394854 , 168894.74450293, 171748.01106278, 115227.06945608,
       168910.39768308, 203094.90413983, 213357.76980406, 225260.55794895,
       143320.30624216, 301177.25817383, 274612.74834885, 147056.6281262 ,
       165097.71033353, 178146.71735496,  97068.69413072, 143674.63206402,
       369731.54563713,  76771.94876737, 153407.46178862, 241653.15236921,
       142622.61071319, 237735.61656363, 131249.96447056, 221989.90776763,
       182755.67419111, 295394.56131491, 212283.73270801, 206608.14680211,
       289247.55482638, 175671.82147112, 236664.93060477, 200117.95161031,
       179225.67116606, 239267.89639154, 118616.82200615, 171129.00750548,
       212903.43407019, 146189.77140993, 115104.05857906, 183988.61794789,
       178434.79211011, 335017.28558881,  90991.23274684, 112763.77494495,
        85592.56642227, 143262.77569816, 270123.54237531, 133655.18646907,
       262417.014472  , 163847.80288222, 184627.41267531, 244079.2850358 ,
       179556.73441774, 277715.38213772, 171406.46276506, 227011.33959592,
       203877.51264871, 235790.20577532, 242476.98720124, 219613.54582268,
       144400.96251431, 122793.24387068, 197656.32892582, 108991.82385312,
       255548.20293267, 100723.13035432, 111652.85172709, 201055.53077471,
       124728.7367803 , 101776.87746901, 124263.13960723, 287505.5150625 ,
       154771.90159746, 190326.48873539, 222538.25887536, 223728.81411102,
       210725.78759717,  81041.84506495,  91590.3639305 , 161726.219971  ,
       175949.14190258, 109627.4375596 , 343562.80701385, 115185.23396997,
       193287.14264161, 221295.65113876, 353178.17489004, 137446.0604199 ,
       210161.99649705, 138370.84253481, 203099.96878643, 170224.57330424,
       282182.06237337, 243502.47291399, 139431.20108739, 115293.74306924,
       283999.24691645, 140012.4258711 , 118162.75521819, 122978.66413093,
       225467.96524317, 209320.31699315, 210358.15425602, 113861.52455407,
       165604.64160181, 168040.45355141, 275962.26238176, 229950.635754  ,
       133655.18646907, 173559.1508503 , 180174.48314421, 171374.89626935,
       125426.56863766, 122405.85762173, 157569.43863345,  71878.80021582,
       249449.88966157,  77034.79612197, 213889.15573741, 117026.02278075,
       315696.35406605, 165999.42174085, 129111.16052386, 152779.57532473,
       146727.20029306, 215868.12907178, 203256.02290026, 234403.53063637,
       206264.57104539, 166809.88085133, 234859.20980921, 304376.62924034,
       222291.23616513, 190819.43650517, 201951.84286484, 137909.85225629,
        87401.08432518, 104977.03284764])

In [119]:
# We don't have SalePrice in our test dataframe. That's what we're trying to create.
test_df['SalePrice'] = y_score

In [120]:
# Check that everything is copacetic.
test_df.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,4,2006,WD,156720.999046
1,2718,905108090,90,RL,NaN,9662,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,8,2006,WD,208161.626569
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,9,2006,New,201094.800521
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,7,2007,WD,113880.610655
4,625,535105100,20,RL,NaN,9500,Pave,NaN,IR1,Lvl,...,185,0,NaN,NaN,NaN,0,7,2009,WD,173147.273423

In [121]:
# Creating a submission dataframe out of the original test_df
submission = test_df[['Id','SalePrice']].copy()

In [124]:
# Write our dataframe to a csv WITHOUT the index column, because that's how Kaggle wants it.
submission.to_csv(data+'submissions/second_submission',index=False)

In [123]:
# Triple-Check that everything is copacetic.
X.head()
submission

       Id      SalePrice
0    2658  156720.999046
1    2718  208161.626569
2    2414  201094.800521
3    1989  113880.610655
4     625  173147.273423
..    ...            ...
873  1662  190819.436505
874  1234  201951.842865
875  1373  137909.852256
876  1672   87401.084325
877  1939  104977.032848

[878 rows x 2 columns]